<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles.css">

</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-2">
                <div class="sidebar">
                    <div class="online-users"></div>
                    <div class="logged">
                        
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="content">
                   
                 </div>
                <div class="form">
                    <form action="">
                        <input type="text" id="input">
                        <button id="send-btn">Send</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="scripts.js"></script>
</body>
</html>