<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="login.css">

</head>
<body>


  <div class="reg-form">
        <div class="reg-inside-wrapper">
           <form action="http://localhost:3000/login" method="POST" name="registration">
            <div class="reg-head">
                <h2>Create  account</h2>
            </div>
            <div class="reg-inpt">
                <input type="text"  name="userName"  id="name" placeholder="first name"> 
            </div>
         
            <div class="reg-inpt">
                <input type="text" name="userNickName" id="name" placeholder="login">
            </div>
           
             <div class="btn-wrap">
                <input type="submit" class="btn" value="create">
            </div>
            </form>
           
        </div>
    </div>

   <!-- <script src="login.js"></script> -->
</body>
</html>


